{% extends "network/layout.html" %}

{% block body %}

    {% if user.is_authenticated %}
    <div class="card">
        
            <div class="card-body" id="new_post" style="display: block;">   
                <h5 class="card-title">New Post</h5>
                <form action="{% url 'create_post' %}" method="post"> 
                    {% csrf_token %}
                    <div class="form-group">
                        <input class="form-control" type="text" name="content">
                    </div>
                    <div class="form-group">    
                            {{ form.as_p }}         
                    </div>
                    <input class="btn btn-primary" type="submit" value="Post">
                </form>
            </div>
        
    </div>
    {% endif %}

    {% for post in page_obj %}
    <div class="card">
        <div class="card-body">
            <div class="post" id="{{post.pk}}">
                <div class="form-group">
                    <textarea class="form-control" readonly>{{post.content}}</textarea>
                </div>
                <h6 class="card-subtitle mb-2 text-muted">Posted by <a href='profile/{{post.author.id}}' %}>{{ post.author }}</a> on {{post.created}}</h6>
                <button class="like">Like</button> <a class='num_of_likes'></a>
                <p></p>
                {%if user == post.author%}
                    <button class="edit">EDIT</button>
                {%endif%}

            </div>
        </div>
    </div>   
    {%endfor%}
    
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
    
{% endblock %}